<div id="conclusion" class="container">
	<h1>Learn#conclusion</h1>
	<div id="content_conclusion">
		<h3>Website Example</h3>
		<ul id="webex">
			<li><a href="www.github.com">Github</a></li>
			<li><a href="www.airbnb.com">AirBnB</a></li>
			<li><a href="www.squareup.com">Square</a></li>
		</ul>

		<div id="realworldstatus">
			<h3>Real World Status</h3>
			<img src="/imgs/conclusion_rails_stat.png" alt="">
			
			<p>All companies ranging from startups to large multinational corporation have begun to realize how fast and effective building web apps with Ruby on Rails is. As such more companies are using the web frameworking. According to one estimate there are, over 600,000 websites are running on Ruby on Rails. Over the past year the number of sites running on Ruby on Rails has increased by approximately 20%.
			</p>

			<img src="/imgs/conclusion_rails_stat2.jpg" alt="">
			<p>Based on information from indeed the growth trends for Ruby on Rails developers are very promising. Ruby on Rails developer jobs are promising and the job market will continue to show a high demand for Rails developers. As more and more companies understand the low-upfront cost and overall cost savings along with ease and speed of development it can be predicted that more and more companies will begin to use Ruby on Rails.
			</p>
		</div>

	</div>
	



	
</div>

