<h1>Learn#cons</h1>
<h3>Issues of Ruby on Rails</h3>
<ul class="cons">
    <li>Other Issues</li>
    <p>- A little too "magical"</p>
    <p>- Rely on the framework a bit too much</p>
    <p>- Less flexible</p>
    <p>- Other things about Ruby</p>
    	<ul class="cons1">
    		<li>No multithreading</li>
    		<li>Slow method calls</li>
    	</ul>
    <li>Performance Issues</li>
    <p>- Slow language</p>
    	<ul class="cons1">
    		<li>Interpreted language is slower than compiled one</li>
    		<li>ex)Comparing to the program written in c++</li>
    	</ul>
    <p>- Memorey leaks in Ruby</p>
    <p>- Twitter dropped Ruby for Java</p>
    	<ul class="cons1">
    		<li>Not suitable for large team</li>
    	</ul>
</ul>
